@font-face {
  font-family: "open-sans";
  src: url("../_fonts/OpenSans.ttf");
}
:root {
  --primary: #15ae75;
  --secondary: #169aaf;
  --light-secondary: #93d2db;
  --dark-primary: #0F875A;
  --light-primary: #13ae74;
  --yellow: #FFC300;
  --red: #FF5733;
  --white: #ffffff;
  --medium-white: #808080;
  --light-white: #f7f7f7;
  --gray: #e9e9e9;
  --black: #181d21;
  --medium-black: #2b2f32;
  --light-black: #34373a;
  --lightest-black: #434649;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.grid-template-column {
  grid-template-columns: auto auto auto;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}


body {
  font-family: "open-sans";
  header{
    height: 70px;
    background: var(--light-white);
    box-shadow: 0px 3px 27px #00000042;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    .hamburger{
      padding: 30px 26px 25px 28px;
      border-right: 1px solid #dedede;
      cursor: pointer;
      .first{
        width: 28px;
        height: 3px;
        background-color: #4E554E;
        border-radius: 4px;
      }
      .second{
        width: 28px;
        height: 3px;
        background-color: #4E554E;
        border-radius: 4px;
        margin-top: 3px;
      }
      .third{
        width: 17px;
        height: 3px;
        background-color: #4E554E;
        border-radius: 4px;
        margin-top: 3px;
      }
    }
    .mid-header{
      .left{
        .logo-wrapper{
        cursor: pointer;
          margin-left: 10px;
          margin-right: 50px;
        }
        .search-wrapper{
          form{
            input{
              padding: 12px 10px;
              width: 484px;
              border: none;
              &::placeholder {
                color: var(--medium-white);
              }
            }
            button{
              cursor: pointer;
              height: 39px;
              padding: 10px 16px;
              background-color: var(--primary);
              border: none;
            }
            svg{
              fill: #fff;
            }
          }
        }
      }
      .right{
        padding-right: 20px;
        .help-wrapper{
          svg{
            margin-right: 25px;
            cursor: pointer;
            fill: #878787;
          }
        }
        .notification-wrapper{
          svg{
            margin-right: 25px;
            fill: #878787;
            cursor: pointer;
          }
          p{
            background: #F95440;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            color: #fff;
            position: absolute;
            top: -5px;
            left: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 11px;
          }
        }
        .login-wrapper{
          img{
            width: 34px;
            height: 34px;
          }
          p{
            margin: 0 11px;
            font-size: 13px;
            color: #464646;
          }
          svg{
            cursor: pointer;
            fill: #878787;
          }
        }
      }
    }
  }

  aside{
    width: 83px;
    height: 100%;
    background: #181D21;
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    height: calc(100vh - 70px);
    .sidebar-wrapper{
      .sidebar-links{
        list-style-type: none;
        padding: 21px 0 17px;
        border-bottom: 1px solid #ffffff10;
        width: 100%;
        a{
          color: #ffffff80;
          font-size: 13px;
          text-decoration: none;
          line-height: 15.6px;
          svg{
            margin-bottom: 6px;
            fill: #ffffff80;
          }
        }
      }
    }
  }

  main{
    background-color: #E9E9E9;
    padding:28px 0 42px 100px ;

    .filter-wrapper{
      width: 320px;
      position: fixed;
      top: 98px;
      left: 100px;
      .top{
        color: #fff;
        padding: 18px 20px 17px;
        border-bottom: 1px solid #aeafb0;
        line-height: 1;
        background: #159aae;
        border-radius: 4px 4px 0 0;
        .filter-title{
          font-size: 15px;
          margin-bottom: 12px;
          font-weight: 500;
        }
        p{
          font-size: 13px;
          width: 280px;
          line-height: 15.6px;
          color: #b9e1e7;
        }
      }
      .mid{
        max-height: calc(100vh - 300px);
        overflow: auto;
        background-color: var(--light-black);
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background: #bab9b9;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #7a7a7a; 
        }
        .filters{
          padding: 15px 20px;
          border: 1px solid #3b3b3b;
          .filter-header{
            // margin-bottom: 16px;
            .filter-title{
              font-size: 15px;
              font-weight: 600;
              color: #fff;
              text-transform: uppercase;
            }
            svg{
              fill: #ffffff80;
              cursor: pointer;
            }
          }
          .search-wrapper{
            margin: 16px 0 20px 0;
            form{
              .input-text{
                position: relative;
                input{
                  border-radius: 8px;
                  height: 35px;
                  padding-left: 31px;
                  color: #ffffff80;
                  background-color: var(--lightest-black);
                  border: none;
                  box-shadow: none;
                  width: calc(100% - 30px);
                }
                svg{
                  fill: #ffffff80;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 10px;
                }
              }
            }
          }
          .filter-options-wrapper{
            .filter-option{
              margin-bottom: 15px;
              .checkbox{
                input[type=checkbox] {
                  position: relative;
                  cursor: pointer;
                }
                input[type=checkbox]:before {
                  content: "";
                  display: block;
                  position: absolute;
                  width: 18px;
                  height: 18px;
                  top: 0;
                  left: 0;
                  border-radius: 3px;
                  background-color: var(--lightest-black);
                }
                input[type=checkbox]:checked:after {
                  content: "";
                  display: block;
                  width: 5px;
                  height: 10px;
                  border: solid rgb(255, 255, 255);
                  border-width: 0 2px 2px 0;
                  -webkit-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
                  position: absolute;
                  top: 2px;
                  left: 6px;
                }
                input[type=checkbox]:checked:before {
                  background-color: var(--primary);
                }
                svg{
                  color: #ffffff80;
                }
                &.active{
                  svg{
                    fill: #fff;
                  }
                }
              }
              h4{
                color: #ffffff80;
                font-size: 14px;
                font-weight: 500;
                padding-left: 10px;
                display: inline-block;
                top: 2px;
                position: relative;
                &.active{
                  color: #fff;
                }
              }
            }
            .more-btn{
              background: none;
              border: none;
              color: #ffffff80;
              cursor: pointer;
            }
          }
        }
        .website-wrapper{
          .filter-header{
            margin-bottom: 32px !important;
          }
          .filter-option h4{
            color: #fff !important;
            padding-left: 0 !important;
          }
        }
        .slider-btn-wrapper{
          width: 32px;
          height: 12px;
          background: #fff;
          border-radius: 25px;
          .slider{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            top: -2px;
            cursor: pointer;
            &.green{
              background-color: var(--primary);
              left: 80%;
              transform: translateX(-50%);
            }
            &.gray{
              background-color: gray;
              left: 50%;
              transform: translateX(-50%);
            }
            &.red{
              background-color: var(--red);
              left: 20%;
              transform: translateX(-50%);
            }
          }
        }
        .and-or-wrapper{
          svg{
            margin-left: 10px;
          }
          .and-btn, .or-btn{
            background: transparent;
            border: none;
            color: #fff;
            padding: 5px 5px;
            border: 1px solid #434141;
            cursor: pointer;
            &.active{
              background-color: var(--primary);
            }
          }
        }
      }
      .bottom{
        padding: 17px 0;
        border-radius: 0 0 4px 4px;
        background-color: var(--medium-black);
        .generic-filter-btn-wrapper{
          display: grid;
          grid-template-columns: auto auto auto;
          gap: 10px;
          button{
            cursor: pointer;
            height: 32px;
            background-color: var(--lightest-black);
            border: none;
            border-radius: 4px;
            color: #ffffff80;
            font-size: 12px;
            padding: 7px 12px;
          }
        }
      }
    }
    .main-section{
      margin-left: 350px;
      .multi-tabs-wrapper{
        border-bottom: 1px solid #bbb;
        .multi-tab-btn{
          font-size: 14px;
          cursor: pointer;
          color: #b6b9ba;
          margin-right: 30px;
          height: 40px;
          border-bottom: 4px solid transparent;
          &.active{
            color: var(--primary);
            border-bottom: 4px solid var(--primary);
          }
        }
      }
      .secondary-filter-wrapper{
        margin: 18px 0 20px;
        padding-right: 30px;
        .left{
          color: #808080;
          button{
            background: none;
            border: none;
            fill: var(--primary);
            margin-right: 18px;
            cursor: pointer;
          }
          select{
            background: none;
            color: var(--primary);
            border: none;
            margin: 0 5px;
            font-size: 14px;
            cursor: pointer;
          }
        }
        .right{
          button{
            background: none;
            border: none;
            font-size: 14px;
            margin-left: 10px;
            cursor: pointer;
            color: #808080;
            &.active{
              color: var(--primary)
            }
          }
        }
      }
      .my-account-display-wrapper{
        max-height: calc(100vh - 245px);
        overflow-y: auto;
        padding-right: 30px;
        .data-display-wrapper{
          box-shadow: 0 0px 9px #0000001a;
          background: var(--light-white);
          padding: 14px 40px 14px 50px;
          border-radius: 8px;
          border-left: 5px solid var(--light-primary);
          margin-bottom: 21px;
          &.active{
            border-left: 5px solid var(--dark-primary);
          }
          .data-display-inner{
            .data-graph-wrapper{
              .left{
                padding-right: 14px;
                border-right: 1px solid #ddd;
                .data-heading{
                  padding-bottom: 16px;
                  .data-title{
                    position: relative;
                    margin-bottom: 4px;
                    input{
                      position: absolute;
                      top: 50%;
                      transform: translateY(-50%);
                      left: -25px;
                      cursor: pointer;
                      width: 18px;
                      height: 18px;
                    }
                    .checkbox{
                      input[type=checkbox] {
                        cursor: pointer;
                      }
                      input[type=checkbox]:before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        top: 0;
                        left: 0;
                        border-radius: 3px;
                        background-color: transparent;
                      }
                      input[type=checkbox]:checked:after {
                        content: "";
                        display: block;
                        width: 5px;
                        height: 10px;
                        border: solid rgb(255, 255, 255);
                        border-width: 0 2px 2px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                        position: absolute;
                        top: 2px;
                        left: 6px;
                      }
                      input[type=checkbox]:checked:before {
                        background-color: var(--primary);
                      }
                      svg{
                        color: #ffffff80;
                      }
                      &.active{
                        svg{
                          fill: #fff;
                        }
                      }
                    }
                    h2{
                      font-size: 20px;
                      font-weight: 500;
                      line-height: 28px;
                    }
                  }
                  .data-details{
                    flex-wrap: wrap;
                    .location, .link, .phone{
                      svg{
                        fill: var(--dark-primary);
                        margin-right: 8px;
                      }
                      p{
                        font-size: 14px;
                        color: #808080;
                      }
                    }
                    .link p{
                      color: var(--dark-primary);
                    }
                  }
                }
                .data-table-wrapper{
                  .data-table-inner{
                    border-bottom: 1px solid #ccc;
                    border-top: 1px solid #ccc;
                    padding: 16px 0;
                    .table-col{
                      .column-title{
                        font-size: 14px;
                        color: #464646;
                      }
                      .column-data{
                        font-size: 22px;
                        color: #808080;
                      }
                    }
                  }
                  .data-pills{
                    padding-top: 16px;
                    .category-pills-wrapper{
                      .pills-title{
                        font-size: 14px;
                        margin-right: 18px;
                        color: #464646;
                      }
                      .pills-wrapper{
                        flex-wrap: wrap;
                        p{
                          font-size: 13px;
                          padding: 5px 12px;
                          border: 1px solid #e9eaeb;
                          color: #808080;
                          border-radius: 25px;
                          margin-right: 10px;
                        }
                      }
                    }
                  }
                }
              }
              .right{
                .right-graph-inner{
                  .add-btn{
                    button{
                      font-size: 14px;
                      background: none;
                      color: var(--primary);
                      padding: 5px 10px;
                      border: 1px solid rgba(21,174,117,.1);
                      border-radius: 4px;
                      cursor: pointer;
                    }
                  }
                  .graph{
                    margin-top: 16px;
                    .outer-circle{
                      width: 114px;
                      height: 114px;
                      border-radius: 50%;
                      padding: 10px;
                      box-shadow: 0px 2px 5px #efe5e5;;
                      .inner-circle{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        position: relative;
                        .third-circle{
                          width: 50%;
                          height: 50%;
                          position: absolute;
                          top: 28px;
                          left: 50%;
                          transform: translate(-50%);
                          background-color: #f7f7f7;
                          border-radius: 50%;
                          z-index: 1;
                        }
                        .fourth-circle{
                          width: 5px;
                          height: 5px;
                          border-radius: 50%;
                          background: #fff;
                          box-shadow: 1px 3px 5px #555;
                          position: absolute;
                          top: 25px;
                          left: 50%;
                          transform: translateX(-50%);
                          z-index: 2;
                        }
                        .range{
                          position: absolute;
                          top: -16px;
                          left: 50%;
                          transform: translateX(-50%);
                          z-index: 2;
                          font-size: 13px;
                          color: rgba(0, 0, 0, 0.5019607843);
                        }
                        .left-half{
                          background-color: red;
                          border-radius: 52px 0 0;
                          width: 50%;
                          height: 50%;
                          position: absolute;
                          left: 0;
                          top: 0;
                        }
                        .right-half{
                          background-color: red;
                          border-radius: 0 52px 0 0;
                          width: 50%;
                          height: 50%;
                          position: absolute;
                          right: 0;
                          top: 0;
                        }
                        .left-num{
                          position: absolute;
                          top: 50%;
                          left: 18px;
                          z-index: 2;
                          font-size: 13px;
                          color: #00000080;
                        }
                        .mid-num{
                          left: 50%;
                          position: absolute;
                          top: 38px;
                          transform: translate(-50%);
                          font-size: 36px;
                          color: #00000080;
                          z-index: 2;
                        }
                        .right-num{
                          position: absolute;
                          top: 50%;
                          right: 18px;
                          z-index: 2;
                          font-size: 13px;
                          color: #00000080;
                        }
                      }
                    }
                    &.small-graph{
                      .outer-circle{
                        width: 80px;
                        height: 80px;
                        .inner-circle{
                          position: relative;
                          .third-circle{
                            top: 28px;
                            left: 50%;
                            transform: translate(-50%);
                          }
                          .fourth-circle{
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background: #fff;
                            box-shadow: 1px 3px 5px #555;
                            position: absolute;
                            top: 25px;
                            left: 50%;
                            transform: translateX(-50%);
                            z-index: 2;
                          }
                          .left-half{
                            background-color: red;
                            border-radius: 52px 0 0;
                            width: 50%;
                            height: 50%;
                            position: absolute;
                            left: 0;
                            top: 0;
                          }
                          .right-half{
                            background-color: red;
                            border-radius: 0 52px 0 0;
                            width: 50%;
                            height: 50%;
                            position: absolute;
                            right: 0;
                            top: 0;
                          }
                          .left-num{
                            position: absolute;
                            top: 50%;
                            left: 12px;
                            z-index: 2;
                            font-size: 9px;
                            color: #00000080;
                          }
                          .mid-num{
                            left: 50%;
                            position: absolute;
                            top: 30px;
                            transform: translate(-50%);
                            font-size: 18px;
                            color: #00000080;
                            z-index: 2;
                          }
                          .right-num{
                            position: absolute;
                            top: 50%;
                            right: 12px;
                            z-index: 2;
                            font-size: 9px;
                            color: #00000080;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .data-footer{
              padding: 14px 0;
              .data-footer-inner{}
                .left{
                  p{
                    font-size: 14px;
                    margin-right: 14px;
                    color: #464646;
                  }
                  svg{
                    fill: var(--primary);
                  }
                  .src-btn{
                    margin-right: 26px;
                  }
                }
                .right{
                  svg{
                    fill: var(--primary);
                    transform: rotate(180deg);
                    cursor: pointer;
                  }
                }
            }
          }
        } 
        .extra-details-wrapper{
          min-height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;      
          p{
            color: #808080;
            span{
              color: var(--primary);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    header{
      .mid-header{
        .left{
          .search-wrapper{
            form{
              input{
                width: 390px;
              }
            }
          }
        }
      }
    }
  
    main{
      .filter-wrapper{
        .top{
          p{
            width: 100%;
          }
        }
      }
      .main-section{
        margin-left: 335px;
        .secondary-filter-wrapper{
          padding-right: 35px;
        }
        .my-account-display-wrapper{
          padding-right: 15px;
          .data-display-wrapper{
            padding: 14px 15px 14px 30px;
            .data-display-inner{
              .data-graph-wrapper{
                flex-direction: column;
                .left{
                  width: 100%;
                  border: none;
                  .data-heading{
                    .data-details{
                      flex-direction: column;
                      align-items: flex-start;
                    }
                  }
                  .data-table-wrapper{
                    .data-table-inner{
                      .table-col{
                        .column-data{
                          font-size: 16px;
                        }
                      }
                    }
                    .data-pills{
                      flex-direction: column;
                      align-items: flex-start;
                    }
                  }
                }
                .right{
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  body {
    header{
      .mid-header{
        .left{
          .search-wrapper{
            form{
              input{
                width: 160px;
              }
            }
          }
        }
      }
    }
  
    aside{
      height: 100vh;
    }
  
    main{
      padding: 20px 15px 28px 100px;
      .filter-wrapper{
        width: 100%;
        position: static;
        .mid{
          max-height: calc(30vh);
        }
      }
      .main-section{
        margin-left: 0;
        margin-top: 50px;
        .secondary-filter-wrapper{
          .left{
            button{}
            select{
              option{}
            }
          }
          .right{
            button{}
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  body {
    header{
      .hamburger{
        padding: 15px;
      }
      .mid-header{
        .left{
          .logo-wrapper{
            margin-right: 30px;
          }
          .search-wrapper{
            position: fixed;
            top: 68px;
            left: 50%;
            width: 100%;
            background: var(--light-white);
            transform: translateX(-50%);
            padding-bottom: 10px;
            form{
              width: calc(100% - 30px);
              margin: auto;
              input{
                width: 100%;
              }
            }
          }
        }
        .right{
          .help-wrapper{
            svg{
              width: 18px;
              height: 18px;
              margin-right: 10px;
            }
          }
          .notification-wrapper{
            svg{
              width: 18px;
              height: 18px;
              margin-right: 10px;
            }
          }
          .login-wrapper{
            img{
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  
    aside{
      display: none;
    }
  
    main{
      padding: 75px 15px 0;
      .main-section{
        .multi-tabs-wrapper{
          .multi-tab-btn{
            font-size: 11px;
          }
        }
        .secondary-filter-wrapper{
          padding-right: 15px;
        }
        .my-account-display-wrapper{
          .data-display-wrapper{
            .data-display-inner{
              .data-graph-wrapper{
                .left{
                  .data-table-wrapper{
                    .data-table-inner{
                      overflow-x: scroll;
                      max-width: 100%;
                      .table-col{
                        min-width: 100px;
                      }
                    }
                    .category-pills-wrapper{
                      margin-bottom: 20px;
                    }
                  }
                }
              }
              .data-footer{
                  .left{
                    p{
                      font-size: 12px;
                    }
                  }
              }
            }
          } 
        }
      }
    }
  }
}