@font-face {
  font-family: "open-sans";
  src: url("../_fonts/OpenSans.ttf");
}
:root {
  --primary: #15ae75;
  --secondary: #169aaf;
  --light-secondary: #93d2db;
  --dark-primary: #0f875a;
  --light-primary: #13ae74;
  --yellow: #fec400;
  --red: #ff5733;
  --white: #ffffff;
  --medium-white: #808080;
  --light-white: #f7f7f7;
  --gray: #e9e9e9;
  --black: #181d21;
  --medium-black: #2b2f32;
  --light-black: #34373a;
  --lightest-black: #434649;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.grid-template-column {
  grid-template-columns: auto auto auto;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "open-sans";
}
body header {
  height: 70px;
  background: var(--light-white);
  box-shadow: 0px 3px 27px rgba(0, 0, 0, 0.2588235294);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
body header .hamburger {
  padding: 30px 26px 25px 28px;
  border-right: 1px solid #dedede;
  cursor: pointer;
}
body header .hamburger .first {
  width: 28px;
  height: 3px;
  background-color: #4E554E;
  border-radius: 4px;
}
body header .hamburger .second {
  width: 28px;
  height: 3px;
  background-color: #4E554E;
  border-radius: 4px;
  margin-top: 3px;
}
body header .hamburger .third {
  width: 17px;
  height: 3px;
  background-color: #4E554E;
  border-radius: 4px;
  margin-top: 3px;
}
body header .mid-header .left .logo-wrapper {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 50px;
}
body header .mid-header .left .search-wrapper form input {
  padding: 12px 10px;
  width: 484px;
  border: none;
}
body header .mid-header .left .search-wrapper form input::-moz-placeholder {
  color: var(--medium-white);
}
body header .mid-header .left .search-wrapper form input::placeholder {
  color: var(--medium-white);
}
body header .mid-header .left .search-wrapper form button {
  cursor: pointer;
  height: 39px;
  padding: 10px 16px;
  background-color: var(--primary);
  border: none;
}
body header .mid-header .left .search-wrapper form svg {
  fill: #fff;
}
body header .mid-header .right {
  padding-right: 20px;
}
body header .mid-header .right .help-wrapper svg {
  margin-right: 25px;
  cursor: pointer;
  fill: #878787;
}
body header .mid-header .right .notification-wrapper svg {
  margin-right: 25px;
  fill: #878787;
  cursor: pointer;
}
body header .mid-header .right .notification-wrapper p {
  background: #F95440;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: -5px;
  left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
body header .mid-header .right .login-wrapper img {
  width: 34px;
  height: 34px;
}
body header .mid-header .right .login-wrapper p {
  margin: 0 11px;
  font-size: 13px;
  color: #464646;
}
body header .mid-header .right .login-wrapper svg {
  cursor: pointer;
  fill: #878787;
}
body aside {
  width: 83px;
  height: 100%;
  background: #181D21;
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  height: calc(100vh - 70px);
}
body aside .sidebar-wrapper .sidebar-links {
  list-style-type: none;
  padding: 21px 0 17px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.062745098);
  width: 100%;
}
body aside .sidebar-wrapper .sidebar-links a {
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 13px;
  text-decoration: none;
  line-height: 15.6px;
}
body aside .sidebar-wrapper .sidebar-links a svg {
  margin-bottom: 6px;
  fill: rgba(255, 255, 255, 0.5019607843);
}
body main {
  background-color: #E9E9E9;
  padding: 28px 0 42px 100px;
}
body main .filter-wrapper {
  width: 320px;
  position: fixed;
  top: 98px;
  left: 100px;
}
body main .filter-wrapper .top {
  color: #fff;
  padding: 18px 20px 17px;
  border-bottom: 1px solid #aeafb0;
  line-height: 1;
  background: #159aae;
  border-radius: 4px 4px 0 0;
}
body main .filter-wrapper .top .filter-title {
  font-size: 15px;
  margin-bottom: 12px;
  font-weight: 500;
}
body main .filter-wrapper .top p {
  font-size: 13px;
  width: 280px;
  line-height: 15.6px;
  color: #b9e1e7;
}
body main .filter-wrapper .mid {
  max-height: calc(100vh - 300px);
  overflow: auto;
  background-color: var(--light-black);
}
body main .filter-wrapper .mid::-webkit-scrollbar {
  width: 10px;
}
body main .filter-wrapper .mid::-webkit-scrollbar-thumb {
  background: #bab9b9;
}
body main .filter-wrapper .mid::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}
body main .filter-wrapper .mid .filters {
  padding: 15px 20px;
  border: 1px solid #3b3b3b;
}
body main .filter-wrapper .mid .filters .filter-header .filter-title {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
body main .filter-wrapper .mid .filters .filter-header svg {
  fill: rgba(255, 255, 255, 0.5019607843);
  cursor: pointer;
}
body main .filter-wrapper .mid .filters .search-wrapper {
  margin: 16px 0 20px 0;
}
body main .filter-wrapper .mid .filters .search-wrapper form .input-text {
  position: relative;
}
body main .filter-wrapper .mid .filters .search-wrapper form .input-text input {
  border-radius: 8px;
  height: 35px;
  padding-left: 31px;
  color: rgba(255, 255, 255, 0.5019607843);
  background-color: var(--lightest-black);
  border: none;
  box-shadow: none;
  width: calc(100% - 30px);
}
body main .filter-wrapper .mid .filters .search-wrapper form .input-text svg {
  fill: rgba(255, 255, 255, 0.5019607843);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
body main .filter-wrapper .mid .filters .filter-options-wrapper .filter-option {
  margin-bottom: 15px;
}
body main .filter-wrapper .mid .filters .filter-options-wrapper .filter-option .checkbox input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
body main .filter-wrapper .mid .filters .filter-options-wrapper .filter-option .checkbox input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  border-radius: 3px;
  background-color: var(--lightest-black);
}
body main .filter-wrapper .mid .filters .filter-options-wrapper .filter-option .checkbox input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
body main .filter-wrapper .mid .filters .filter-options-wrapper .filter-option .checkbox input[type=checkbox]:checked:before {
  background-color: var(--primary);
}
body main .filter-wrapper .mid .filters .filter-options-wrapper .filter-option .checkbox svg {
  color: rgba(255, 255, 255, 0.5019607843);
}
body main .filter-wrapper .mid .filters .filter-options-wrapper .filter-option .checkbox.active svg {
  fill: #fff;
}
body main .filter-wrapper .mid .filters .filter-options-wrapper .filter-option h4 {
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
  display: inline-block;
  top: 2px;
  position: relative;
}
body main .filter-wrapper .mid .filters .filter-options-wrapper .filter-option h4.active {
  color: #fff;
}
body main .filter-wrapper .mid .filters .filter-options-wrapper .more-btn {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.5019607843);
  cursor: pointer;
}
body main .filter-wrapper .mid .website-wrapper .filter-header {
  margin-bottom: 32px !important;
}
body main .filter-wrapper .mid .website-wrapper .filter-option h4 {
  color: #fff !important;
  padding-left: 0 !important;
}
body main .filter-wrapper .mid .slider-btn-wrapper {
  width: 32px;
  height: 12px;
  background: #fff;
  border-radius: 25px;
}
body main .filter-wrapper .mid .slider-btn-wrapper .slider {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  cursor: pointer;
}
body main .filter-wrapper .mid .slider-btn-wrapper .slider.green {
  background-color: var(--primary);
  left: 80%;
  transform: translateX(-50%);
}
body main .filter-wrapper .mid .slider-btn-wrapper .slider.gray {
  background-color: gray;
  left: 50%;
  transform: translateX(-50%);
}
body main .filter-wrapper .mid .slider-btn-wrapper .slider.red {
  background-color: var(--red);
  left: 20%;
  transform: translateX(-50%);
}
body main .filter-wrapper .mid .and-or-wrapper svg {
  margin-left: 10px;
}
body main .filter-wrapper .mid .and-or-wrapper .and-btn, body main .filter-wrapper .mid .and-or-wrapper .or-btn {
  background: transparent;
  border: none;
  color: #fff;
  padding: 5px 5px;
  border: 1px solid #434141;
  cursor: pointer;
}
body main .filter-wrapper .mid .and-or-wrapper .and-btn.active, body main .filter-wrapper .mid .and-or-wrapper .or-btn.active {
  background-color: var(--primary);
}
body main .filter-wrapper .bottom {
  padding: 17px 0;
  border-radius: 0 0 4px 4px;
  background-color: var(--medium-black);
}
body main .filter-wrapper .bottom .generic-filter-btn-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
body main .filter-wrapper .bottom .generic-filter-btn-wrapper button {
  cursor: pointer;
  height: 32px;
  background-color: var(--lightest-black);
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 12px;
  padding: 7px 12px;
}
body main .main-section {
  margin-left: 350px;
}
body main .main-section .multi-tabs-wrapper {
  border-bottom: 1px solid #bbb;
}
body main .main-section .multi-tabs-wrapper .multi-tab-btn {
  font-size: 14px;
  cursor: pointer;
  color: #b6b9ba;
  margin-right: 30px;
  height: 40px;
  border-bottom: 4px solid transparent;
}
body main .main-section .multi-tabs-wrapper .multi-tab-btn.active {
  color: var(--primary);
  border-bottom: 4px solid var(--primary);
}
body main .main-section .secondary-filter-wrapper {
  margin: 18px 0 20px;
  padding-right: 30px;
}
body main .main-section .secondary-filter-wrapper .left {
  color: #808080;
}
body main .main-section .secondary-filter-wrapper .left button {
  background: none;
  border: none;
  fill: var(--primary);
  margin-right: 18px;
  cursor: pointer;
}
body main .main-section .secondary-filter-wrapper .left select {
  background: none;
  color: var(--primary);
  border: none;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
}
body main .main-section .secondary-filter-wrapper .right button {
  background: none;
  border: none;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  color: #808080;
}
body main .main-section .secondary-filter-wrapper .right button.active {
  color: var(--primary);
}
body main .main-section .my-account-display-wrapper {
  max-height: calc(100vh - 245px);
  overflow-y: auto;
  padding-right: 30px;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper {
  background: var(--light-white);
  padding: 14px 40px 14px 50px;
  border-radius: 8px;
  border-left: 5px solid var(--light-primary);
  margin-bottom: 21px;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper.active {
  border-left: 5px solid var(--dark-primary);
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left {
  padding-right: 14px;
  border-right: 1px solid #ddd;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-heading {
  padding-bottom: 16px;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-heading .data-title {
  position: relative;
  margin-bottom: 4px;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-heading .data-title input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  cursor: pointer;
  width: 18px;
  height: 18px;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-heading .data-title h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-heading .data-details .location svg, body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-heading .data-details .link svg, body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-heading .data-details .phone svg {
  fill: var(--dark-primary);
  margin-right: 8px;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-heading .data-details .location p, body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-heading .data-details .link p, body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-heading .data-details .phone p {
  font-size: 14px;
  color: #808080;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-heading .data-details .link p {
  color: var(--dark-primary);
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-table-wrapper .data-table-inner {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 16px 0;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-table-wrapper .data-table-inner .table-col .column-title {
  font-size: 14px;
  color: #464646;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-table-wrapper .data-table-inner .table-col .column-data {
  font-size: 22px;
  color: #808080;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-table-wrapper .data-pills {
  padding-top: 16px;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-table-wrapper .data-pills .category-pills-wrapper .pills-title {
  font-size: 14px;
  margin-right: 18px;
  color: #464646;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-table-wrapper .data-pills .category-pills-wrapper .pills-wrapper {
  flex-wrap: wrap;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-table-wrapper .data-pills .category-pills-wrapper .pills-wrapper p {
  font-size: 13px;
  padding: 5px 12px;
  border: 1px solid #e9eaeb;
  color: #808080;
  border-radius: 25px;
  margin-right: 10px;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .add-btn button {
  font-size: 14px;
  background: none;
  color: var(--primary);
  padding: 5px 10px;
  border: 1px solid rgba(21, 174, 117, 0.1);
  border-radius: 4px;
  cursor: pointer;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph .outer-circle {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 2px 5px #efe5e5;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph .outer-circle .inner-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph .outer-circle .inner-circle .third-circle {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translate(-50%);
  background-color: #f7f7f7;
  border-radius: 50%;
  z-index: 1;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph .outer-circle .inner-circle .fourth-circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 3px 5px #555;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph .outer-circle .inner-circle .left-half {
  background-color: red;
  border-radius: 52px 0 0;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph .outer-circle .inner-circle .right-half {
  background-color: red;
  border-radius: 0 52px 0 0;
  width: 50%;
  height: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph .outer-circle .inner-circle .left-num {
  position: absolute;
  top: 50%;
  left: 18px;
  z-index: 2;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5019607843);
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph .outer-circle .inner-circle .mid-num {
  left: 50%;
  position: absolute;
  top: 38px;
  transform: translate(-50%);
  font-size: 36px;
  color: rgba(0, 0, 0, 0.5019607843);
  z-index: 2;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph .outer-circle .inner-circle .right-num {
  position: absolute;
  top: 50%;
  right: 18px;
  z-index: 2;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5019607843);
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph.small-graph .outer-circle {
  width: 80px;
  height: 80px;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph.small-graph .outer-circle .inner-circle {
  position: relative;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph.small-graph .outer-circle .inner-circle .third-circle {
  top: 28px;
  left: 50%;
  transform: translate(-50%);
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph.small-graph .outer-circle .inner-circle .fourth-circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 3px 5px #555;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph.small-graph .outer-circle .inner-circle .left-half {
  background-color: red;
  border-radius: 52px 0 0;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph.small-graph .outer-circle .inner-circle .right-half {
  background-color: red;
  border-radius: 0 52px 0 0;
  width: 50%;
  height: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph.small-graph .outer-circle .inner-circle .left-num {
  position: absolute;
  top: 50%;
  left: 12px;
  z-index: 2;
  font-size: 9px;
  color: rgba(0, 0, 0, 0.5019607843);
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph.small-graph .outer-circle .inner-circle .mid-num {
  left: 50%;
  position: absolute;
  top: 30px;
  transform: translate(-50%);
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5019607843);
  z-index: 2;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right .right-graph-inner .graph.small-graph .outer-circle .inner-circle .right-num {
  position: absolute;
  top: 50%;
  right: 12px;
  z-index: 2;
  font-size: 9px;
  color: rgba(0, 0, 0, 0.5019607843);
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-footer {
  padding: 14px 0;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-footer .left p {
  font-size: 14px;
  margin-right: 14px;
  color: #464646;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-footer .left svg {
  fill: var(--primary);
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-footer .left .src-btn {
  margin-right: 26px;
}
body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-footer .right svg {
  fill: var(--primary);
  transform: rotate(180deg);
  cursor: pointer;
}
body main .main-section .my-account-display-wrapper .extra-details-wrapper {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .main-section .my-account-display-wrapper .extra-details-wrapper p {
  color: #808080;
}
body main .main-section .my-account-display-wrapper .extra-details-wrapper p span {
  color: var(--primary);
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  body header .mid-header .left .search-wrapper form input {
    width: 390px;
  }
  body main .filter-wrapper .top p {
    width: 100%;
  }
  body main .main-section {
    margin-left: 335px;
  }
  body main .main-section .secondary-filter-wrapper {
    padding-right: 35px;
  }
  body main .main-section .my-account-display-wrapper {
    padding-right: 15px;
  }
  body main .main-section .my-account-display-wrapper .data-display-wrapper {
    padding: 14px 15px 14px 30px;
  }
  body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper {
    flex-direction: column;
  }
  body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left {
    width: 100%;
    border: none;
  }
  body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-heading .data-details {
    flex-direction: column;
    align-items: flex-start;
  }
  body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-table-wrapper .data-table-inner .table-col .column-data {
    font-size: 16px;
  }
  body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-table-wrapper .data-pills {
    flex-direction: column;
    align-items: flex-start;
  }
  body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .right {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  body header .mid-header .left .search-wrapper form input {
    width: 160px;
  }
  body aside {
    height: 100vh;
  }
  body main {
    padding: 20px 15px 28px 100px;
  }
  body main .filter-wrapper {
    width: 100%;
    position: static;
  }
  body main .filter-wrapper .mid {
    max-height: 30vh;
  }
  body main .main-section {
    margin-left: 0;
    margin-top: 50px;
  }
}
@media screen and (max-width: 450px) {
  body header .hamburger {
    padding: 15px;
  }
  body header .mid-header .left .logo-wrapper {
    margin-right: 30px;
  }
  body header .mid-header .left .search-wrapper {
    position: fixed;
    top: 68px;
    left: 50%;
    width: 100%;
    background: var(--light-white);
    transform: translateX(-50%);
    padding-bottom: 10px;
  }
  body header .mid-header .left .search-wrapper form {
    width: calc(100% - 30px);
    margin: auto;
  }
  body header .mid-header .left .search-wrapper form input {
    width: 100%;
  }
  body header .mid-header .right .help-wrapper svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
  body header .mid-header .right .notification-wrapper svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
  body header .mid-header .right .login-wrapper img {
    width: 20px;
    height: 20px;
  }
  body aside {
    display: none;
  }
  body main {
    padding: 75px 15px 0;
  }
  body main .main-section .multi-tabs-wrapper .multi-tab-btn {
    font-size: 11px;
  }
  body main .main-section .secondary-filter-wrapper {
    padding-right: 15px;
  }
  body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-table-wrapper .data-table-inner {
    overflow-x: scroll;
    max-width: 100%;
  }
  body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-table-wrapper .data-table-inner .table-col {
    min-width: 100px;
  }
  body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-graph-wrapper .left .data-table-wrapper .category-pills-wrapper {
    margin-bottom: 20px;
  }
  body main .main-section .my-account-display-wrapper .data-display-wrapper .data-display-inner .data-footer .left p {
    font-size: 12px;
  }
}/*# sourceMappingURL=index.css.map */