@font-face {
  font-family: "open-sans";
  src: url("../_fonts/OpenSans.ttf");
}
:root {
  --primary: #15ae75;
  --secondary: #169aaf;
  --light-secondary: #93d2db;
  --dark-primary: #0f875a;
  --light-primary: #13ae74;
  --yellow: #fec400;
  --red: #ff5733;
  --white: #ffffff;
  --light-white: #f7f7f7;
  --gray: #e9e9e9;
  --black: #181d21;
  --medium-black: #2b2f32;
  --light-black: #34373a;
  --lightest-black: #434649;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.grid-template-column {
  grid-template-columns: auto auto auto;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}


body {
  font-family: "open-sans";
  header{
    height: 70px;
    background: var(--light-white);
    box-shadow: 0px 3px 27px #00000042;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    .hamburger{
      padding: 30px 26px 25px 28px;
      border-right: 1px solid #dedede;
      .first{
        width: 28px;
        height: 3px;
        background-color: #4E554E;
      }
      .second{
        width: 28px;
        height: 3px;
        background-color: #4E554E;
        margin-top: 3px;
      }
      .third{
        width: 17px;
        height: 3px;
        background-color: #4E554E;
        margin-top: 3px;
      }
    }
    .mid-header{
      .left{
        .logo-wrapper{
          margin-left: 10px;
          margin-right: 50px;
          img{}
        }
        .search-wrapper{
          form{
            input{
              padding: 12px 10px;
              width: 504px;
              border: none;
            }
            button{
              height: 39px;
              padding: 10px 10px;
              background-color: var(--primary);
              border: none;
            }
            svg{
              fill: #fff;
            }
          }
        }
      }
      .right{
        .help-wrapper{
          svg{
            margin-right: 25px;
            fill: #878787;
          }
        }
        .notification-wrapper{
          svg{
            margin-right: 25px;
            fill: #878787;
          }
          p{}
        }
        .login-wrapper{
          img{
            width: 34px;
            height: 34px;
          }
          p{
            margin: 0 11px;
            font-size: 13px;
            color: #464646;
          }
          svg{
            fill: #878787;
          }
        }
      }
    }
  }

  aside{
    width: 83px;
    height: 100%;
    background: #202529;
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    height: 100vh;
    .sidebar-wrapper{
      .sidebar-links{
        list-style-type: none;
        padding: 21px 0 17px;
        border-bottom: 1px solid #ffffff10;
        width: 100%;
        a{
          color: #ffffff50;
          font-size: 13px;
          text-decoration: none;
          line-height: 15.6px;
          svg{
            margin-bottom: 6px;
            fill: #ffffff50;
          }
        }
      }
    }
  }

  main{
    margin-left: 100px;
    margin-top: 28px;
    .filter-wrapper{
      width: 320px;
      .top{
        color: #fff;
        padding: 18px 20px 17px;
        border-bottom: 1px solid #aeafb0;
        line-height: 1;
        background: #159aae;
        border-radius: 4px 4px 0 0;
        .filter-title{
          font-size: 15px;
          margin-bottom: 5px;
          font-weight: 600;
        }
        p{
          font-size: 13px;
          width: 280px;
          line-height: 15.6px;
        }
      }
      .mid{
        background-color: var(--light-black);
        .categories-wrapper{
        } 
        .filters{
          padding: 15px 0;
          padding: 20px;
          border: 1px solid #3b3b3b;
          .filter-header{
            // margin-bottom: 16px;
            .filter-title{
              font-size: 15px;
              font-weight: 600;
              color: #fff;
              text-transform: uppercase;
            }
            svg{
              fill: #ffffff50;
            }
          }
          .search-wrapper{
            margin: 16px 0 20px 0;
            form{
              .input-text{
                position: relative;
                input{
                  height: 35px;
                  padding-left: 31px;
                  color: #ffffff50;
                  background-color: var(--lightest-black);
                  border: none;
                  box-shadow: none;
                  width: calc(100% - 30px);
                }
                svg{
                  fill: #ffffff50;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 10px;
                }
              }
            }
          }
          .filter-options-wrapper{
            .filter-option{
              margin-bottom: 15px;
              .checkbox{
                input[type=checkbox] {
                  position: relative;
                  cursor: pointer;
                }
                input[type=checkbox]:before {
                  content: "";
                  display: block;
                  position: absolute;
                  width: 18px;
                  height: 18px;
                  top: 0;
                  left: 0;
                  border-radius: 3px;
                  background-color: var(--lightest-black);
                }
                input[type=checkbox]:checked:after {
                  content: "";
                  display: block;
                  width: 5px;
                  height: 10px;
                  border: solid rgb(255, 255, 255);
                  border-width: 0 2px 2px 0;
                  -webkit-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
                  position: absolute;
                  top: 2px;
                  left: 6px;
                }
                input[type=checkbox]:checked:before {
                  background-color: var(--primary);
                }
                svg{
                  color: #ffffff50;
                }
                &.active{
                  svg{
                    fill: #fff;
                  }
                }
              }
              h4{
                color: #ffffff50;
                font-size: 14px;
                font-weight: 500;
                padding-left: 15px;
                display: inline-block;
                top: 2px;
                position: relative;
                &.active{
                  color: #fff;
                }
              }
            }
            .more-btn{
              background: none;
              border: none;
              color: #ffffff50;
            }
          }
        }
        .website-wrapper{
          .filter-header{
            margin-bottom: 32px !important;
          }
          .filter-option h4{
            color: #fff !important;
            padding-left: 0 !important;
          }
        }
        .and-or-wrapper{
          svg{
            margin-left: 10px;
          }
          .and-btn, .or-btn{
            background: transparent;
            border: none;
            color: #fff;
            padding: 5px 5px;
            border: 1px solid #434141;
            cursor: pointer;
            &.active{
              background-color: var(--primary);
            }
          }
        }
      }
      .bottom{
        padding: 17px 0;
        background-color: var(--medium-black);
        .generic-filter-btn-wrapper{
          display: grid;
          grid-template-columns: auto auto auto;
          gap: 10px;
          button{
            height: 32px;
            background-color: var(--lightest-black);
            border: none;
            border-radius: 4px;
            color: #ffffff50;
            font-size: 12px;
            padding: 7px 12px;
          }
        }
      }
    }
    .main-section{
      .multi-tabs-wrapper{
        .multi-tab-btn{}
      }
      .secondary-filter-wrapper{
        .left{
          button{}
          select{
            option{}
          }
        }
        .right{
          button{}
        }
      }
      .my-account-display-wrapper{
        .data-display-wrapper{
          .data-display-inner{
            .data-graph-wrapper{
              .left{
                .data-heading{
                  .data-title{
                    input{}
                    h2{}
                  }
                  .data-details{
                    .location{
                      svg{}
                      p{}
                    }
                    .link{
                      svg{} 
                      p{}
                    }
                    .phone{
                      svg{}
                    }
                  }
                }
                .data-table-wrapper{
                  .data-table-inner{
                    .table-col{
                      .column-title{}
                      .column-data{}
                    }
                  }
                }
              }
              .right{
                .right-graph-inner{
                  .add-btn{
                    button{}
                  }
                  .graph{}
                }
              }
            }
            .data-footer{
              .data-footer-inner{}
                .left{
                  p{}
                }
                .right{
                  svg{}
                }
            }
          }
        } 
        .extra-details-wrapper{
          p{}
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  body {
    header{
      .hamburger{
        .first{}
        .second{}
        .third{}
      }
      .mid-header{
        .left{
          .logo-wrapper{
            img{}
          }
          .search-wrapper{
            form{
              input{}
              button{}
              svg{}
            }
          }
        }
        .right{
          .help-wrapper{
            svg{}
          }
          .notification-wrapper{
            svg{}
            p{}
          }
          .login-wrapper{
            img{}
            p{}
            svg{}
          }
        }
      }
    }
  
    aside{
      .sidebar-wrapper{
        .sidebar-links{
          a{
            svg{}
          }
        }
      }
    }
  
    main{
      .filter-wrapper{
        .top{
          .filter-title{}
          p{}
        }
        .mid{
          .categories-wrapper{
          } 
          .filters{
            .filter-header{
              .filter-title{}
              svg{}
            }
            .search-wrapper{
              form{
                .input-text{
                  input{}
                  svg{}
                }
              }
            }
            .filter-options-wrapper{
              .filter-option{
                .checkbox{
                  svg{}
                }
                h4{}
              }
              .more-btn{}
            }
          }
        }
        .bottom{
          .generic-filter-btn-wrapper{
            .clear-all-btn{}
            .save-btn{}
            .apply-btn{}
          }
        }
      }
      .main-section{
        .multi-tabs-wrapper{
          .multi-tab-btn{}
        }
        .secondary-filter-wrapper{
          .left{
            button{}
            select{
              option{}
            }
          }
          .right{
            button{}
          }
        }
        .my-account-display-wrapper{
          .data-display-wrapper{
            .data-display-inner{
              .data-graph-wrapper{
                .left{
                  .data-heading{
                    .data-title{
                      input{}
                      h2{}
                    }
                    .data-details{
                      .location{
                        svg{}
                        p{}
                      }
                      .link{
                        svg{} 
                        p{}
                      }
                      .phone{
                        svg{}
                      }
                    }
                  }
                  .data-table-wrapper{
                    .data-table-inner{
                      .table-col{
                        .column-title{}
                        .column-data{}
                      }
                    }
                  }
                }
                .right{
                  .right-graph-inner{
                    .add-btn{
                      button{}
                    }
                    .graph{}
                  }
                }
              }
              .data-footer{
                .data-footer-inner{}
                  .left{
                    p{}
                  }
                  .right{
                    svg{}
                  }
              }
            }
          } 
          .extra-details-wrapper{
            p{}
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    header{
      .hamburger{
        .first{}
        .second{}
        .third{}
      }
      .mid-header{
        .left{
          .logo-wrapper{
            img{}
          }
          .search-wrapper{
            form{
              input{}
              button{}
              svg{}
            }
          }
        }
        .right{
          .help-wrapper{
            svg{}
          }
          .notification-wrapper{
            svg{}
            p{}
          }
          .login-wrapper{
            img{}
            p{}
            svg{}
          }
        }
      }
    }
  
    aside{
      .sidebar-wrapper{
        .sidebar-links{
          a{
            svg{}
          }
        }
      }
    }
  
    main{
      .filter-wrapper{
        .top{
          .filter-title{}
          p{}
        }
        .mid{
          .categories-wrapper{
          } 
          .filters{
            .filter-header{
              .filter-title{}
              svg{}
            }
            .search-wrapper{
              form{
                .input-text{
                  input{}
                  svg{}
                }
              }
            }
            .filter-options-wrapper{
              .filter-option{
                .checkbox{
                  svg{}
                }
                h4{}
              }
              .more-btn{}
            }
          }
        }
        .bottom{
          .generic-filter-btn-wrapper{
            .clear-all-btn{}
            .save-btn{}
            .apply-btn{}
          }
        }
      }
      .main-section{
        .multi-tabs-wrapper{
          .multi-tab-btn{}
        }
        .secondary-filter-wrapper{
          .left{
            button{}
            select{
              option{}
            }
          }
          .right{
            button{}
          }
        }
        .my-account-display-wrapper{
          .data-display-wrapper{
            .data-display-inner{
              .data-graph-wrapper{
                .left{
                  .data-heading{
                    .data-title{
                      input{}
                      h2{}
                    }
                    .data-details{
                      .location{
                        svg{}
                        p{}
                      }
                      .link{
                        svg{} 
                        p{}
                      }
                      .phone{
                        svg{}
                      }
                    }
                  }
                  .data-table-wrapper{
                    .data-table-inner{
                      .table-col{
                        .column-title{}
                        .column-data{}
                      }
                    }
                  }
                }
                .right{
                  .right-graph-inner{
                    .add-btn{
                      button{}
                    }
                    .graph{}
                  }
                }
              }
              .data-footer{
                .data-footer-inner{}
                  .left{
                    p{}
                  }
                  .right{
                    svg{}
                  }
              }
            }
          } 
          .extra-details-wrapper{
            p{}
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    header{
      .hamburger{
        .first{}
        .second{}
        .third{}
      }
      .mid-header{
        .left{
          .logo-wrapper{
            img{}
          }
          .search-wrapper{
            form{
              input{}
              button{}
              svg{}
            }
          }
        }
        .right{
          .help-wrapper{
            svg{}
          }
          .notification-wrapper{
            svg{}
            p{}
          }
          .login-wrapper{
            img{}
            p{}
            svg{}
          }
        }
      }
    }
  
    aside{
      .sidebar-wrapper{
        .sidebar-links{
          a{
            svg{}
          }
        }
      }
    }
  
    main{
      .filter-wrapper{
        .top{
          .filter-title{}
          p{}
        }
        .mid{
          .categories-wrapper{
          } 
          .filters{
            .filter-header{
              .filter-title{}
              svg{}
            }
            .search-wrapper{
              form{
                .input-text{
                  input{}
                  svg{}
                }
              }
            }
            .filter-options-wrapper{
              .filter-option{
                .checkbox{
                  svg{}
                }
                h4{}
              }
              .more-btn{}
            }
          }
        }
        .bottom{
          .generic-filter-btn-wrapper{
            .clear-all-btn{}
            .save-btn{}
            .apply-btn{}
          }
        }
      }
      .main-section{
        .multi-tabs-wrapper{
          .multi-tab-btn{}
        }
        .secondary-filter-wrapper{
          .left{
            button{}
            select{
              option{}
            }
          }
          .right{
            button{}
          }
        }
        .my-account-display-wrapper{
          .data-display-wrapper{
            .data-display-inner{
              .data-graph-wrapper{
                .left{
                  .data-heading{
                    .data-title{
                      input{}
                      h2{}
                    }
                    .data-details{
                      .location{
                        svg{}
                        p{}
                      }
                      .link{
                        svg{} 
                        p{}
                      }
                      .phone{
                        svg{}
                      }
                    }
                  }
                  .data-table-wrapper{
                    .data-table-inner{
                      .table-col{
                        .column-title{}
                        .column-data{}
                      }
                    }
                  }
                }
                .right{
                  .right-graph-inner{
                    .add-btn{
                      button{}
                    }
                    .graph{}
                  }
                }
              }
              .data-footer{
                .data-footer-inner{}
                  .left{
                    p{}
                  }
                  .right{
                    svg{}
                  }
              }
            }
          } 
          .extra-details-wrapper{
            p{}
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  body {
    header{
      .hamburger{
        .first{}
        .second{}
        .third{}
      }
      .mid-header{
        .left{
          .logo-wrapper{
            img{}
          }
          .search-wrapper{
            form{
              input{}
              button{}
              svg{}
            }
          }
        }
        .right{
          .help-wrapper{
            svg{}
          }
          .notification-wrapper{
            svg{}
            p{}
          }
          .login-wrapper{
            img{}
            p{}
            svg{}
          }
        }
      }
    }
  
    aside{
      .sidebar-wrapper{
        .sidebar-links{
          a{
            svg{}
          }
        }
      }
    }
  
    main{
      .filter-wrapper{
        .top{
          .filter-title{}
          p{}
        }
        .mid{
          .categories-wrapper{
          } 
          .filters{
            .filter-header{
              .filter-title{}
              svg{}
            }
            .search-wrapper{
              form{
                .input-text{
                  input{}
                  svg{}
                }
              }
            }
            .filter-options-wrapper{
              .filter-option{
                .checkbox{
                  svg{}
                }
                h4{}
              }
              .more-btn{}
            }
          }
        }
        .bottom{
          .generic-filter-btn-wrapper{
            .clear-all-btn{}
            .save-btn{}
            .apply-btn{}
          }
        }
      }
      .main-section{
        .multi-tabs-wrapper{
          .multi-tab-btn{}
        }
        .secondary-filter-wrapper{
          .left{
            button{}
            select{
              option{}
            }
          }
          .right{
            button{}
          }
        }
        .my-account-display-wrapper{
          .data-display-wrapper{
            .data-display-inner{
              .data-graph-wrapper{
                .left{
                  .data-heading{
                    .data-title{
                      input{}
                      h2{}
                    }
                    .data-details{
                      .location{
                        svg{}
                        p{}
                      }
                      .link{
                        svg{} 
                        p{}
                      }
                      .phone{
                        svg{}
                      }
                    }
                  }
                  .data-table-wrapper{
                    .data-table-inner{
                      .table-col{
                        .column-title{}
                        .column-data{}
                      }
                    }
                  }
                }
                .right{
                  .right-graph-inner{
                    .add-btn{
                      button{}
                    }
                    .graph{}
                  }
                }
              }
              .data-footer{
                .data-footer-inner{}
                  .left{
                    p{}
                  }
                  .right{
                    svg{}
                  }
              }
            }
          } 
          .extra-details-wrapper{
            p{}
          }
        }
      }
    }
  }
}